annotated-types==0.5.0
attrs==23.1.0
aws-cdk-lib==2.86.0
aws-cdk.asset-awscli-v1==2.2.200
aws-cdk.asset-kubectl-v20==2.1.2
aws-cdk.asset-node-proxy-agent-v5==2.0.166
cattrs==23.1.2
certifi==2023.7.22
charset-normalizer==3.2.0
constructs==10.2.69
coverage==7.2.7
execnet==2.0.2
fake-useragent==1.2.0
idna==3.4
importlib-resources==6.0.0
iniconfig==2.0.0
jsii==1.86.0
packaging==23.1
pluggy==1.2.0
publication==0.0.3
py==1.11.0
pydantic==2.1.1
pydantic_core==2.4.0
pytest==7.4.0
pytest-cov==4.1.0
pytest-html==3.2.0
pytest-metadata==3.0.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
typeguard==2.13.3
typing_extensions==4.7.1
urllib3==2.0.4
